Source: netrunner-pinebook-packages
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: netrunner-pinebook-packages
Architecture: arm64
Recommends: audacious,
            baloo-kf5,
            burgerspace,
            cifs-utils,
            ffmpegthumbnailer,
            fonts-droid-fallback,
            fonts-noto-hinted,
            fonts-roboto,
            frei0r-plugins,
            frozen-bubble,
            gimp,
            git,
            glchess,
            gltron,
            gmusicbrowser,
            gnome-chess,
            gnome-extra-icons,
            gnome-icon-theme,
            gnome-icon-theme-extras,
            gnome-icon-theme-full,
            gnudoq,
            gstreamer0.10-plugins-ugly,
            gstreamer0.10-pulseaudio,
            gstreamer1.0-libav,
            gtk3-engines-unico,
            handbrake,
            hplip,
            inkscape,
            isowriter,
            kamoso,
            kbreakout,
            kdenlive,
            kdepim-runtime,
            kmahjongg,
            kmines,
            krita,
            ksnakeduel,
            libreoffice,
            libreoffice-calc,
            libreoffice-gtk,
            libreoffice-help-en-us,
            libreoffice-impress,
            libreoffice-style-human,
            marble,
            netrunner-pinebook-calamares,
            netrunner-pinebook-settings-desktop,
            artwork-wallpapers-netrunner-pinebook,
            artwork-lnf-netrunner-pinebook,
            psmisc,
            qml-module-org-kde-games-core,
            ring-kde,
            samba,
            smplayer,
            smtube,
            thunderbird-plasma,
            xul-ext-lightning
Description: Meta package for the Netrunner Pinebook ARM environment
   Meta package for the Netrunner Pinebook ARM environment
