Source: pine64-netrunner-core
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: pinebook-netrunner-core
Architecture: arm64
Recommends: pine64-netrunner-core-common
Description: Meta package for the Netrunner Pinebook ARM environment
   Meta package for the Netrunner Pinebook ARM environment

Package: pine64-netrunner-core
Architecture: arm64
Recommends: novnc, pine64-netrunner-core-common, x11vnc
Description: Meta package for the Netrunner Pinebook ARM environment
   Meta package for the Netrunner Pinebook ARM environment

Package: pine64-netrunner-core-common
Architecture: arm64
Recommends: alsa-utils,
            apt-xapian-index,
            ark,
            artwork-lnf-netrunner-core,
            artwork-wallpapers-netrunner-core-17.01,
            base-files (>= 9),
            bluedevil,
            breeze,
            carbon-gtk2,
            carbon-qt,
            carbon-qt4,
            command-not-found,
            default-settings-xdg-user-dirs,
            desktop-file-utils,
            dnsutils,
            dolphin,
            ethtool,
            expanding-icons-taskmanager,
            ffmpegthumbs,
            firefox-plasma,
            gstreamer1.0-plugins-bad,
            gstreamer1.0-plugins-ugly,
            gtk2-engines-oxygen,
            gtk2-engines-qtcurve,
            gtk3-engines-oxygen,
            gwenview,
            icedtea-7-plugin,
            inxi,
            kate,
            kcalc,
            kcm-about-extended,
            kcm-plasma-services,
            kde-cli-tools,
            kde-config-gtk-style-preview,
            kde-config-sddm,
            kde-gtk-config,
            kde-spectacle,
            kde-style-oxygen-qt4,
            kdenetwork-filesharing,
            kdesudo,
            kffmpegthumbnailer,
            khelpcenter,
            khotkeys,
            kinfocenter,
            kio,
            kio-extras,
            kio-mtp,
            kmenuedit,
            konsole,
            kscreen,
            ksuperkey,
            ksysguard,
            kwin-addons,
            kwin-decoration-oxygen,
            kwin-x11,
            kwrited,
            libappindicator1,
            libappindicator3-1,
            libgtk2-appindicator-perl,
            libqt5websockets5,
            mintupdate,
            nano,
            netrunner-artwork,
            netrunner-core-settings,
            netrunner-core-settings-desktop,
            netrunner-default-settings,
            odroid-boot-services,
            okular,
            okular-extra-backends,
            p7zip-full,
            partitionmanager,
            pavucontrol,
            phonon,
            phonon4qt5,
            pine64-calamares-core,
            pine64-linux-image,
            pine64-netrunner-core-settings,
            plasma-dataengines-addons,
            plasma-nm,
            plasma-runners-addons,
            plasma-volume-control,
            plasma-widget-kimpanel,
            plasma-widget-message-indicator,
            plasma-widgets-addons,
            powerdevil,
            print-manager,
            pulseaudio (>= 7.1~),
            python-appindicator,
            qapt-deb-installer,
            qtcore4-l10n,
            qtcurve-i18n,
            quota,
            rar,
            rootactions-servicemenu,
            rtl8723ds-bt,
            samba-mounter,
            artwork-sddm-simple,
            simplemenu,
            sni-qt,
            sni-qt:i386,
            software-properties-kde,
            synaptic,
            systemsettings,
            u-boot-tools,
            unrar,
            user-manager,
            xdg-user-dirs,
            xvfb,
            yakuake,
            zram-config
Depends: console-data,
         console-setup,
         kbd,
         kwin-x11,
         phonon-backend-gstreamer,
         phonon4qt5-backend-gstreamer,
         pine64-mali-x11,
         plasma-desktop,
         plasma-framework,
         sddm,
         simplemenu,
         xorg,
         xserver-xorg,
         xserver-xorg-input-evdev,
         xserver-xorg-input-joystick,
         xserver-xorg-input-kbd,
         xserver-xorg-input-mouse,
         xserver-xorg-input-synaptics,
         xserver-xorg-video-all,
         xserver-xorg-video-armsoc,
         zram-config
Breaks: kffmpegthumbnailer (<< 2.1.0+p8+git20161003.1141)
Conflicts: kubuntu-desktop, plasma-netbook
Replaces: kffmpegthumbnailer (<< 2.1.0+p8+git20161003.1141),
          kubuntu-desktop,
          plasma-netbook
Description: Meta package for the Netrunner ARM environment
   Meta package for the Netrunner ARM environment
